include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pytest.ini
recursive-include examples *.py *.jpg *.png
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
